Header set Access-Control-Allow-Origin "*"
RewriteEngine On
RewriteBase /
RewriteRule ^jquery.js$ vendor/jquery/jquery.js
RewriteCond %{REQUEST_URI} !/(robots\.txt|style\.css|.*\.js|images/.*)$
#RewriteRule .* maintenance.php [L]
RewriteRule .* index.php
